.login-form {
    margin-top: 15%;
    .login-part {
        .login-container {
            border: 1px solid #CCCCCC;
            padding: 45px 45px 30px;
            border-radius: 10px;
            background-color: rgba(63,61,52,0.1);
            .google-login-btn {
                text-align: center;
            }
            .forgot-password {
                display: inline-block;
                margin: 5px 0 0;
                text-decoration: none;
                color: rgb(249,136,54);
                &:hover {
                    color: rgb(249,136,54);
                }
            }
            .or {
                p {
                    margin-bottom: 10px;
                    text-align: right;
                }
            }
        }
    }
}
